html {
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
img {
  border-style: none;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
textarea,
select {
  font-family: "Yanone Kaffeesatz", sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
*:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #bebebe;
}
input:focus::-webkit-input-placeholder {
  color: #bebebe;
}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif;
}
h2 {
  font: 25px sans-serif;
}
h3 {
  font: 23px sans-serif;
}
h4 {
  font: 21px sans-serif;
}
h5 {
  font: 18px sans-serif;
}
h6 {
  font: 16px sans-serif;
}
p {
}
strong {
}

/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
.App {
  display: block;
  overflow: visible;
  position: relative;
  width: 100%;
  height: 100%;
}
.layout {
  margin: 0 auto;
  position: relative;
  width: 950px;
}
#footer {
  width: 100%;
  margin: 0 0 0;
  padding: 0 0;
}
#main {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
  background: #eee;
}
#header {
  width: 100%;
  display: block;
  position: relative;
}
/* ------------------------------------------------------ */
#modalWin {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  color: #000;
  font-size: 14px;
  background: #bab3b3;
  border: 1px solid black;
  padding: 0 25px 0 30px;
}
#text h1 {
  text-align: center;
  position: relative;
}
.list-group-item p {
  margin: 0;
}

.wrap-loader {
  width: 100px !important;
}

.wrapper {
  margin-bottom: 20px;
}

.text-center h1 {
  color: #000;
}

/* .wrap-card {
  width: 100%;
} */

/* .wrap-card > div {
  width: 100%;
  padding: 10px;
  background-color: #bebebe;
} */

.pokeCard {
  margin: 10px;
  background-color: rgb(163, 151, 151);
  padding: 10px;
  text-align: center;
}
